.whats-flutuante {
  position: fixed;
  bottom: 120px;
  right: 15px;
  z-index: 10;
  cursor: pointer;
}

.bg-verde-zap {
  display: none;
  background-color: #25d366;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bg-verde-zap.show {
  display: flex;
}

.bg-verde-zap p {
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 500;
}

.bg-verde-zap .btn-fechar {
  border: 0;
  background: transparent;
  width: 15px;
  height: 15px;
}

.bg-verde-zap .btn-fechar img {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.whats-popup {
  display: none;
  width: 100%;
  height: max-content;
  background: #fff;
  -webkit-box-shadow: -2px 10px 18px 0px black;
  -moz-box-shadow: -2px 10px 18px 0px black;
  box-shadow: -2px 10px 18px 0px rgba(0, 0, 0, 0.5);
  padding: 0 2rem;
  margin-bottom: -15px;
  z-index: 99999;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.whats-popup.show {
  display: block;
}

.whats-popup p {
  font-size: 1rem;
  color: #7f8c8d;
}

.whats-popup .btn-fechar {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 0;
  background: #e74c3c;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: #fff;
}

.whats-popup input {
  border: 0;
  padding: 1rem;
  width: 80%;
}

.whats-popup .btn-enviar {
  border: 0;
  padding: 1rem 1.2rem;
  border-radius: 100%;
  background: none;
  -webkit-box-shadow: -2px 10px 18px 0px black;
  -moz-box-shadow: -2px 10px 18px 0px black;
  box-shadow: -2px 10px 18px 0px rgba(0, 0, 0, 0.5);
}

.whats-popup .whatsapp-icon {
  margin-top: 13px;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 75px;
  right: 15px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 27px;
  z-index: 100;
}

.whatsapp img {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.linha {
  display: flex;
  border-bottom: 1px solid rgba(157, 157, 157, 0.24);
  padding: 1rem 0;
}

.linha .coluna.pequena {
  width: 60px;
  height: 60px;
}

.linha .coluna.pequena img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.linha .coluna .whats-title {
  margin-left: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
}

.linha .coluna .whats-title {
  color: #6c6c6c;
  text-decoration: none;
}